# Course Notes
Use this workspace to take notes, store sample queries, and build your own interactive cheat sheet! 

_Note that you need to connect your [SQL cells](https://workspace-docs.datacamp.com/work/sql-cell) to an integration to run a query._
- _You can use a sample integration from the dropdown menu. This includes the **Course Databases** integration, which contains tables you used in our SQL courses._
- _You can connect your own integration by following the instructions provided [here](https://workspace-docs.datacamp.com/integrations/what-is-an-integration)._

## Take Notes

Add notes here about the concepts you've learned and SQL cells with code you want to keep.

_Add your notes here_

In [1]:
-- A sample query for you to replace!
SELECT 
    *
FROM books

# 1. Processing, Storing, and Organizing Data

## 1.1 OLTP vs OLAP

### OLTP - OnLine Transaction Processing
- OLTP approch is oriented around transactions.
- They are application-oriented like for book keeping.
- Data is up to date and operational.
- Size in gigabytes
- Queries are simple transactions and frequent update.
- They are used by more people through out a company and even company's customer.
- Focus on supporting day to day operations.
- Keeping track of prices of items.
- Track all customer transaction, like add, update, delete.
- Keeping track of emplyees
### OLAP - OnLine Analytical Processing
- OLAP approch is oriented around analytics.
- They are subject oriented, like last quarter book sales
- Data is consloidated and historical for long term analysis.
- Size in terabytes.
- Queries are complex, aggregated and and limited updates.
- They are typically used by data analystics and data scientists.
- Tasks are vagure and focus on business decesion making.
- Analysisng the most profitable item.
- Analysing most loyal customer
- Analysing employee of the month

## 1.2 Storing data

### Structuring data
#### 1. Structred data
- Follows a schema
- Defined data types and relationships
- e.g, SQL, tables in relational database
#### 2. Unstructured data
- Schemaless
- Makes up most of the data in the world
- e.g, photos, chatlogs, MP3
#### 3. Semistructured data
- Does not follow large schema
- self describing structure
- e.g, NoSQL, XML, JSON

### Storing data beyond traditional databases
#### Traditional databases
- For storing real time relational structured data - OLTP
#### Data warehouses
- For analyzing archived structured data - OLAP
#### Data lakes
- For storing data of all structures = flexibility and scalability
- For analyzing big data

### Data warehouse
- Optimized for analytics
- Organized for reading/aggregating data
- Usually read only
- Contains data from multiple sources
- Massive parallel processing (MPP) for faster queries
- Typically uses a denormalized schema and dimensional modeling.
- Amazon redshift, Azure SQL data warehouse and Google Big Query offer data warehouse solutions.
#### Data marts
- Subset of data warehouses
- dedicated to specific topic.
- Allow departments to have easier access to the data that matters to them.

### Data lakes
- Store all types of data at a lower cost. e.g, raw, operational databases, IoT devices logs, real-time, relational and non-relational
- Retains all data and can take up petabytes (1000 tb).
- Schema-on-read as opposed to schema-on-write.
- Need to catalog data otherwise becomes a data swamp
- Run big data analytics using services such as Apache spark and Hadoop. Useful for deep learning and data discovery because activities require so much data.
- Google, AWS and microsoft also provide data lake solutions.

### ETL vs ELT
#### ETL
- It is more traditional approach for warehousing and smaller scale analytics.
- Data is transformed before loadig into storage, usually to follow the storage's schema
#### ELT
- It is more common with big data projects.
- Data is stored in its native form in a storage solution like a data lake. Portions of data are transformed for different purposes, from building a data warehouse to doing deep learning.

## 1.3 Database design

### What is database design
- Determine how data is logically stored. How is data going to be read and updated
- Uses **databases models** (high level soecification for database structure)
- 		Most popular: relation model
- 		other: NoSQL model, object-oriented model, network model
- Uses **schemas** (blueprint of database)
- 		Defines tables, fields, relationships, indexes and views
- 		When inserted data in relational databases, schemas must be respected.

## Data modeling
 Process of creating a data model for the data to be stored
- **Conceptual data model**: describes entities, relationships, andaributes
- 		Tools: data structure diagrams, e.g., entity-relational diagrams and UML diagrams
- **Logical data model**: defines tables, columns, relationships 
- 		Tools: database models and schemas, e.g., relational model and star schema 
- **Physical data model**: describes physical storage 
- 		Tools: partitions, CPUs, indexes, backup systems and tablespaces

### Dimensional modeling
Adaptation of the relational model for data warehouse design
- Optimized for OLAP queries: aggregate data, not updating (OLTP)
- Built using the star schema
- Easy to interpret and extend schema

### Elements of dimensional modeling
**Fact tables** 
- Decided by business use-case 
- Holds records of ametric
- Changes regularly
- Connects to dimensions via foreign keys
**Dimension tables**
- Holds descriptions of aributes
- Does not change as often

# 2. Database Schemas and Normalization
learn to implement star and snowflake schemas, recognize the importance of normalization and see how to normalize databases to different extents.

## 2.1 Star and snowflake schema

### Star schema
It is the simplest form of dimensional model. Some use the term star schema and dimensional model interchangeably. Star schema is made up of two table **fact** and **dimensional** tables.

#### Fact tables 
- Holds records of a metric that are described further by dimension tables.
- Changes regularly
- Connects to dimensions via foreign keys
#### Dimension tables
- Holds descriptions of aributes
- Does not change as often

#### Example
- Supply book to stores in USA in canada
- Keep tracks of book sales

### Star schema example
![book-star](book-star.png)

Excluding primary and foreign keys, fact table holds sales amount and quantity of books. It's connected to dimension tables with details on the books sold, the time the sales took place and the store buying the books.

Each dimension table represent one-to-many relationship with fact table. e.g, a store can be a part of many book sales, but one sale can only belong to one store.

### Snowflake schema
![snowflake](snowflake.jpg)
Snowflake schema is an extension of the star schema. The information contain in this schema is the same as the star schema. In fact, the fact table is the same, but the way the dimension tables are structured is different.

Star schema extends one dimension, while the snowflake schema extends over more than one dimension. This is because the dimension tables are **normalized**.

### Normarlization
- Database design technique
- Divides tables into smaller tables and connects them via relationships.
- **Goal**: To reduce redundancy and increase data integrity.
**Identify repeating groups of data and create new tables for them**

## Exercise

**Adding foreign keys**
Foreign key references are essential to both the snowflake and star schema. When creating either of these schemas, correctly setting up the foreign keys is vital because they connect dimensions to the fact table. They also enforce a one-to-many relationship, because unless otherwise specified, a foreign key can appear more than once in a table and primary key can appear only once.

The fact_booksales table has three foreign keys: book_id, time_id, and store_id. In this exercise, the four tables that make up the star schema below have been loaded. However, the foreign keys still need to be added. 

**Instructions**
- In the constraint called sales_book, set book_id as a foreign key.
- In the constraint called sales_time, set time_id as a foreign key.
- In the constraint called sales_store, set store_id as a foreign key.

In [ ]:
-- Add the book_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_book
    FOREIGN KEY (book_id) REFERENCES dim_book_star (book_id);
    
-- Add the time_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_time
    FOREIGN KEY (time_id) REFERENCES dim_time_star (time_id);
    
-- Add the store_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_store
    FOREIGN KEY (store_id) REFERENCES dim_store_star (store_id)

**Extending the book dimension**
In the video, we saw how the book dimension differed between the star and snowflake schema. The star schema's dimension table for books, dim_book_star, has been loaded and below is the snowflake schema of the book dimension

In this exercise, you are going to extend the star schema to meet part of the snowflake schema's criteria. Specifically, you will create dim_author from the data provided in dim_book_star.

**Instructions** 
- Create dim_author with a column for author.
- Insert all the distinct authors from dim_book_star into dim_author.

In [ ]:
-- Create dim_author with an author column
CREATE TABLE dim_author (
    author varchar(256)  NOT NULL
);

-- Insert authors into the new table
INSERT INTO dim_author
SELECT DISTINCT author FROM dim_book_star;

Instructions 
- Alter dim_author to have a primary key called author_id.
- Output all the columns of dim_author.

In [ ]:
-- Add a primary key 
ALTER TABLE dim_author ADD COLUMN author_id SERIAL PRIMARY KEY;

-- Output the new table
SELECT * FROM dim_author;

## 2.2 Normalization

### Normalizion
**Normalization ensures better data integrity**
- Enforce data consistency
- 			Must respect naming conventions because of referntial integrity, e.g., 'California', not 'CA' or 'california'
- Safer updating, removing, and inserting
- 			Less data redundancy = less records to alter
- Easier to redesign by extending
- 			Smaller tables are easier to extend than larger tables

### Advantages
- Eliminates data redundancy: save on storage
- Better data integrity: accurate and consistent data

### Disadvantages
- Complex queries equire more CPU

**Deciding between normalization and denormalization comes down to how read or write intensive your database is going to be**

### OLTP
- Typically high normalized
- write-intensive
- Prioritize quicker and safer insertion of data

### OLAP
- Typically less normalized
- Read-intensive
- Priorized quicker queries for analystics

## Exercise

### Querying the star schema
The novel genre hasn't been selling as well as your company predicted. To help remedy this, you've been tasked to run some analytics on the novel genre to find which areas the Sales team should target. To begin, you want to look at the total amount of sales made in each state from books in the novel genre.

Luckily, you've just finished setting up a data warehouse with the following star schema:

**Instructions**
- Select state from the appropriate table and the total sales_amount.
- Complete the JOIN on book_id.
- Complete the JOIN to connect the dim_store_star table
- Conditionally select for books with the genre novel.
- Group the results by state.

In [ ]:
SELECT dim_store_star.state, sum(sales_amount)
FROM fact_booksales
	-- Join to get book information
    JOIN dim_book_star on fact_booksales.book_id = dim_book_star.book_id
	-- Join to get store information
    JOIN dim_store_star on fact_booksales.store_id = dim_store_star.store_id
-- Get all books with in the novel genre
WHERE  
    dim_book_star.genre = 'novel'
-- Group results by state
GROUP BY
    dim_store_star.state;

### Querying the snowflake schema
Imagine that you didn't have the data warehouse set up. Instead, you'll have to run this query on the company's operational database, which means you'll have to rewrite the previous query with the following snowflake schema:

**Instructions**

- Select state from the appropriate table and the total sales_amount.
- Complete the two JOINS to get the genre_id's.
- Complete the three JOINS to get the state_id's.
- Conditionally select for books with the genre novel.
- Group the results by state.

In [ ]:
-- Output each state and their total sales_amount
SELECT dim_state_sf.state, sum(sales_amount)
FROM fact_booksales
    -- Joins for genre
    JOIN dim_book_sf on fact_booksales.book_id = dim_book_sf.book_id
    JOIN dim_genre_sf on dim_book_sf.genre_id = dim_genre_sf.genre_id
    -- Joins for state 
    JOIN dim_store_sf on fact_booksales.store_id = dim_store_sf.store_id 
    JOIN dim_city_sf on dim_store_sf.city_id = dim_city_sf.city_id
	JOIN dim_state_sf on  dim_city_sf.state_id = dim_state_sf.state_id
-- Get all books with in the novel genre and group the results by state
WHERE  
    dim_genre_sf.genre = 'novel'
GROUP BY
    dim_state_sf.state;

### Updating countries
Going through the company data, you notice there are some inconsistencies in the store addresses. These probably occurred during data entry, where people fill in fields using different naming conventions. This can be especially seen in the country field, and you decide that countries should be represented by their abbreviations. The only countries in the database are Canada and the United States, which should be represented as USA and CA.

In this exercise, you will compare the records that need to be updated in order to do this task on the star and snowflake schema. dim_store_star and dim_country_sf have been loaded.

**Instructions** 
- Output all the records that need to be updated in the star schema so that countries are represented by their abbreviations

In [ ]:
SELECT * FROM dim_country_sf 
WHERE country != 'USA' AND country !='CA';

### Extending the snowflake schema
The company is thinking about extending their business beyond bookstores in Canada and the US. Particularly, they want to expand to a new continent. In preparation, you decide a continent field is needed when storing the addresses of stores.

Luckily, you have a snowflake schema in this scenario. As we discussed in the video, the snowflake schema is typically faster to extend while ensuring data consistency. Along with dim_country_sf, a table called dim_continent_sf has been loaded. It contains the only continent currently needed, North America, and a primary key. In this exercise, you'll need to extend dim_country_sf to reference dim_continent_sf.

**Instructions**
- Add a continent_id column to dim_country_sf with a default value of 1. Note thatNOT NULL DEFAULT(1) constrains a value from being null and defaults its value to 1.
- Make that new column a foreign key reference to dim_continent_sf's continent_id.

In [ ]:
-- Add a continent_id column with default value of 1
ALTER TABLE dim_country_sf
ADD continent_id int NOT NULL DEFAULT(1);

-- Add the foreign key constraint
ALTER TABLE dim_country_sf ADD CONSTRAINT country_continent
   FOREIGN KEY (continent_id) REFERENCES dim_continent_sf(continent_id);
   
-- Output updated table
SELECT * FROM dim_country_sf;

## 2.3 Normal Forms

### 1NF rules
- Each reord must be unique
- Each cell must hold one value

### 2NF
- Must satisfy 1NF and if primary key is one column
- 		then automatically satifies 2NF
- If there is a composite primary key
- 		then each non-key column must be dependent on all keys

### 3NF
- Satifies 2NF
- No transitive dependencies: non-key columns can't depend on other non-key columns

### Data anomalies
- **Update anomaly**: Data inconsistency caused by data redundancy when updating
- **Insertion anomaly**: Unable to add record due to missing attributes
- **Deletion anomaly**: Deletion of records causes unintentional loss of data

The more normalized the database, the less prone it will be to data anomalies

## Exercise

### Converting to 1NF
In the next three exercises, you'll be working through different tables belonging to a car rental company. Your job is to explore different schemas and gradually increase the normalization of these schemas through the different normal forms. At this stage, we're not worried about relocating the data, but rearranging the tables.

A table called customers has been loaded, which holds information about customers and the cars they have rented.

**Instructions** 
- cars_rented holds one or more car_ids and invoice_id holds multiple values. Create a new table to hold individual car_ids and invoice_ids of the customer_ids who've rented those cars.
- Drop two columns from customers table to satisfy 1NF

In [ ]:
-- Create a new table to hold the cars rented by customers
CREATE TABLE cust_rentals (
  customer_id INT NOT NULL,
  car_id VARCHAR(128) NULL,
  invoice_id VARCHAR(128) NULL
);

-- Drop column from customers table to satisfy 1NF
ALTER TABLE customers
DROP COLUMN cars_rented,
DROP COLUMN invoice_id;

### Converting to 2NF
Let's try normalizing a bit more. In the last exercise, you created a table holding customer_ids and car_ids. This has been expanded upon and the resulting table, customer_rentals, has been loaded for you. Since you've got 1NF down, it's time for 2NF.

**Instructions** 
- Create a new table for the non-key columns that were conflicting with 2NF criteria.
- Drop those non-key columns from customer_rentals.

In [ ]:
-- Create a new table to satisfy 2NF
CREATE TABLE cars (
  car_id VARCHAR(256) NULL,
  model VARCHAR(128),
  manufacturer VARCHAR(128),
  type_car VARCHAR(128),
  condition VARCHAR(128),
  color VARCHAR(128)
);

-- Drop columns in customer_rentals to satisfy 2NF
ALTER TABLE customer_rentals
DROP COLUMN model,
DROP COLUMN manufacturer, 
DROP COLUMN type_car,
DROP COLUMN condition,
DROP COLUMN color;

### Converting to 3NF
Last, but not least, we are at 3NF. In the last exercise, you created a table holding car_idss and car attributes. This has been expanded upon. For example, car_id is now a primary key. The resulting table, rental_cars, has been loaded for you.

**Instructions** 
- Create a new table for the non-key columns that were conflicting with 3NF criteria.
- Drop those non-key columns from rental_cars.

In [ ]:
-- Create a new table to satisfy 3NF
CREATE TABLE car_model(
  model VARCHAR(128),
  manufacturer VARCHAR(128),
  type_car VARCHAR(128)
);

-- Drop columns in rental_cars to satisfy 3NF
ALTER TABLE rental_cars
DROP COLUMN manufacturer, 
DROP COLUMN type_car;

# 3. Database views

## 3.1 Database views

In a databse, view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection onject.

**Virtual table that is not part of the physical schema**
- A view isn't stored in physical memory; instead, the query to create the view is.
- Data is aggregated from  data in tables
- Can be queried like a regular database table
- No need to retype common queries or alter schema.

**Example**<br>
	Return titles and authors of the `science fiction` genre<br>
**Query**<br>
`CREATE VIEW scifi_books AS`<br>
`SELECT title, author, genre`<br>
`FROM dim_book_sf`<br>
`JOIN dim_genre_sf ON dim_book_sf.genre_id = dim_genre_sf.genre_id`<br>
`JOIN dim_author_sf ON dim_book_sf.author.id = dim_author_sf.author.id`<br>
`WHERE`<br>
`dim_genre_sf.genre = 'science fiction';`<br>

To query a view - `SELECT * FROM scifi_books`<br>
To check all the views in a database (postgres, includes system views) - `SELECT * FROM INFORMATION_SCHEMA.views`<br>
To exclude system views run this command - `SELECT * FROM INFORMATION_SCHEMA.views WHERE table_schema NOT IN ('pg_catalog', 'infrmation_schema')`

### Benefits of views
- Doesn't take up storage
- A form of access control
- 	Hide sensitive columns and restrict what user can see
- Masks complexity of queries
- 	Useful for highly normalized shemas

### Example

### Viewing views
Because views are very useful, it's common to end up with many of them in your database. It's important to keep track of them so that database users know what is available to them.

The goal of this exercise is to get familiar with viewing views within a database and interpreting their purpose. This is a skill needed when writing database documentation or organizing views.

**Instructions** 
- Query the information schema to get views.
- Exclude system views in the results.

In [ ]:
-- Get all non-systems views
SELECT * FROM INFORMATION_SCHEMA.views
WHERE table_schema NOT IN ('pg_catalog', 'information_schema');

### Creating and querying a view
Have you ever found yourself running the same query over and over again? Maybe, you used to keep a text copy of the query in your desktop notes app, but that was all before you knew about views!

In these Pitchfork reviews, we're particularly interested in high-scoring reviews and if there's a common thread between the works that get high scores. In this exercise, you'll make a view to help with this analysis so that we don't have to type out the same query often to get these high-scoring reviews.

**Instruction**
- Create a view called high_scores that holds reviews with scores above a 9.

In [ ]:
CREATE VIEW high_scores AS
SELECT * FROM REVIEWS
WHERE score > 9;

**Instruction**
- Count the number of records in high_scores that are self-released in the label field of the labels table.

In [ ]:
-- Create a view for reviews with a score above 9
CREATE VIEW high_scores AS
SELECT * FROM REVIEWS
WHERE score > 9;

-- Count the number of self-released works in high_scores
SELECT COUNT(*) FROM high_scores
INNER JOIN labels ON high_scores.reviewid = labels.reviewid
WHERE labels.label = 'self-released';

## 3.2 Managing views

### Granting and revoking access to a view
To give and remove user permissions, we use the SQL `GRANT` and `REVOKE` command.
- **Privilages**: `SELECT`, `INSERT`, `UPDATE`, `DELETE`, etc
- **Objects**: table, view, schema, etc
- **Roles**: a database user or a group of database users.

To write a query<br>
`GRANT privilage(s) pr REVOKE privilage(s)`<br>
`ON object`<br>
`TO role` or `FROM role`

### Updating a view
When you a update command is run it updates the tables<br>
**Not all views are updatable** - Depend on type of SQL being used.<br>
- View is made up of one table
- Doesn't use a window or aggregate function

### Inserting into a view
When an insert command runs into a view, it inserts into the table behind it. Its usually a good idea to use views for read only purposes.<br>
**Not all view are insertable: Avoid modifying data through views**

### Dropping a view
Dropping a view is straightforward with the DROP command. There are two useful parametes to know about: `CASCADE` and `RESTRICT`.Sometimes, there are SQL objects that are depend on views.
- `RESTRICT`(default): returns an error if there are objects that depend on the view.
- `CASCADE`: drops view and any object that depends on that view.

### Redefining a view
`CREATE OR REPLACE VIEW view_name AS new_query`<br>
If a view with `view_name` exists, it is replaced
- `new_query` must generate the same column name, order, and data types as the old query.
- The column output may be different
- New columns may be added at the end.
**If these criteria can't be met drop the existing view and crate a new one**

### Exercise

**Creating a view from other views**
Views can be created from queries that include other views. This is useful when you have a complex schema, potentially due to normalization, because it helps reduce the JOINS needed. The biggest concern is keeping track of dependencies, specifically how any modifying or dropping of a view may affect other views.

In the next few exercises, we'll continue using the Pitchfork reviews data. There are two views of interest in this exercise. top_15_2017 holds the top 15 highest scored reviews published in 2017 with columns reviewid,title, and score. artist_title returns a list of all reviewed titles and their respective artists with columns reviewid, title, and artist. From these views, we want to create a new view that gets the highest scoring artists of 2017.

**Instruction**
- Create a view called top_artists_2017 with artist from artist_title.
- To only return the highest scoring artists of 2017, join the views top_15_2017 and artist_title on reviewid.
- Output top_artists_2017.

In [ ]:
-- Create a view with the top artists in 2017
CREATE VIEW top_artists_2017 AS
-- with only one column holding the artist field
SELECT artist_title.artist FROM artist_title
INNER JOIN top_15_2017
ON artist_title.reviewid = top_15_2017.reviewid;

-- Output the new view
SELECT * FROM top_artists_2017;

**Granting and revoking access**
Access control is a key aspect of database management. Not all database users have the same needs and goals, from analysts, clerks, data scientists, to data engineers. As a general rule of thumb, write access should never be the default and only be given when necessary.

In the case of our Pitchfork reviews, we don't want all database users to be able to write into the long_reviews view. Instead, the editor should be the only user able to edit this view.

**Instruction**
- Revoke all database users' update and insert privileges on the long_reviews view.
- Grant the editor user update and insert privileges on the long_reviews view.

In [ ]:
-- Revoke everyone's update and insert privileges
REVOKE UPDATE, INSERT ON long_reviews FROM PUBLIC; 

-- Grant the editor update and insert privileges 
GRANT UPDATE, INSERT ON long_reviews TO editor;

**Redefining a view**
Unlike inserting and updating, redefining a view doesn't mean modifying the actual data a view holds. Rather, it means modifying the underlying query that makes the view. In the last video, we learned of two ways to redefine a view: (1) CREATE OR REPLACE and (2) DROP then CREATE. CREATE OR REPLACE can only be used under certain conditions.

The artist_title view needs to be appended to include a column for the label field from the labels table.

**Instruction**
- Use CREATE OR REPLACE to redefine the artist_title view.
- Respecting artist_title's original columns of reviewid, title, and artist, add a label column from the labels table.
- Join the labels table using the reviewid field.

In [ ]:
-- Redefine the artist_title view to have a label column
CREATE OR REPLACE VIEW artist_title AS
SELECT reviews.reviewid, reviews.title, artists.artist, labels.label
FROM reviews
INNER JOIN artists
ON artists.reviewid = reviews.reviewid
INNER JOIN labels
ON reviews.reviewid = labels.reviewid;

SELECT * FROM artist_title;

## 3.3 Materialized views

### Types of views
**Non-materialized views**<br>
In the all previous section we have read about non-materialized views.

**Materialized Views**<br>
- Physically materialized
- Stores the query results, not the query
- Querying a materialized view means accessing the stored query results
- 	Not running the query like a non-materialized view
- Refreshed or rematerialized when prompted or scheduled.

### When to use materialized views
- Queries with long execution time.
- Don't use on data that is being updated often, because then analysis will be run too often on out-of-date data.
- Typically use for OLAP (Data warehouses), more for analysis than writing to data.
 
### Implementing materialized views (PostgreSQL)
`CREATE MATERIALIZED VIEW my_mv AS SELECT * FROM existing_table;`

For refreshing views in PostgreSQL **cron jobs** is used

### Managing dependencies
- Materialized views often depend on other materialized views
- Create a **dependency chain** when refreshing views
- Not the most efficient to refresh all views at the same time

### Tools for managing dependencies
- Use Directed Acyclic Graphs (DAGs) to keep track of views
- Pipeline schedular tools
- Examples: Airflow, Luigi

### Exercise

**Creating and refreshing a materialized view**
The syntax for creating materialized and non-materialized views are quite similar because they are both defined by a query. One key difference is that we can refresh materialized views, while no such concept exists for non-materialized views. It's important to know how to refresh a materialized view, otherwise the view will remain a snapshot of the time the view was created.

In this exercise, you will create a materialized view from the table genres. A new record will then be inserted into genres. To make sure the view has the latest data, it will have to be refreshed.

**Instructions**

- Create a materialized view called genre_count that holds the number of reviews for each genre.
- Refresh genre_count so that the view is up-to-date.

In [ ]:
-- Create a materialized view called genre_count 
CREATE MATERIALIZED VIEW genre_count AS
SELECT genre, COUNT(*) 
FROM genres
GROUP BY genre;

INSERT INTO genres
VALUES (50000, 'classical');

-- Refresh genre_count
REFRESH MATERIALIZED VIEW genre_count;

SELECT * FROM genre_count;

# 4 Database roles and access controls

## 4.1 Database roles

### Database roles
- Roles are use to manage database access permissions
- A database role is an entity that contains information that:
    - 	Define roles privileges
        - Can you login?
        - can you create databases?
        - Can you write tables?
    - 	Interact with the client authentication system
    	- What the role's password is?
- Roles can be assigned to one or mere users
- Roles are global, you can reference roles across all individual databases in your cluster
 
 ### Create a role
- Empty role
	- `CREATE ROLE ata_analyst;` What the data_analyst role can do is currently empty.
- Roles with some attributes set
	- `CREATE ROLE intern WITH PASSWORD 'InternPassword' VALID UNTIL '2020-01-01';`. Intern role, specifying the password attribute and valid until date attribute.
	- `CREATE ROLE admin CREATEDB;`. Admin role with ability to create databases.
	- `ALTER ROLE admin CREATEROLE`. To change an attribute for an already created role, now admin can create roles too.

### GRANT and REVOKE privileges
To grant and revoke specific access control privileges on objects, like tables, views and schemas, you use GRANT and REVOKE.<br>
`GRANT UPDATE ON ratings TO data_analyst;`. Data analyst can be able to update the ratings table.<br>
`REVOKE UPDATE ON ratings FROM data_analyst;`. Don't need it anymore.<br>
- The available privileges in PostgreSQL are:
	- `SELECT, INSERT, UPDATE, DELETE, TRUNCATE, REFERENCES, TRIGGER, CREATE, CONNECT, TEMPORARY, EXECUTE,` and `USAGE`.

### Users and groups
A role is an entity that can function as a user and/or a group.
- Users roles
	- `CREATE ROLE alex WITH PASSWORD 'InternPassword' VALID UNTIL '2020-01-01';`. Giving a role to specific intern alex
- Group roles
	- `CREATE ROLE data_analyst;` Giving a role to all the data analysts.
- In postgreSQL, to add the user role to group role you can do is
	- `GRANT data_analyst TO alex;`. Alex can do data analyst work now.
	- `REVOKE data_analyst FROM alex;`. ALex no longer is member of data analyst

### Benefits and pitfalls of roles
**Benefits**<br>
- Roles live on after usres are deleted
- Roles can be created before user account
- By grouping together common access levels, database administrators save time.
**Pitfalls**
- Sometimes a roles gives a specific user too much access
	- You need to pay attention

## Exercise

**Create a role**<br>
A database role is an entity that contains information that define the role's privileges and interact with the client authentication system. Roles allow you to give different people (and often groups of people) that interact with your data different levels of access.

Imagine you founded a startup. You are about to hire a group of data scientists. You also hired someone named Marta who needs to be able to login to your database. You're also about to hire a database administrator. In this exercise, you will create these roles.

**Instructions**<br>
Create a role called data_scientist.

In [ ]:
CREATE ROLE data_scientist;

**Instructions**<br>
Create a role called marta that has one attribute: the ability to login (LOGIN).

In [ ]:
-- Create a role for Marta
CREATE ROLE marta LOGIN;

**Instructions**<br>
Create a role called admin with the ability to create databases (CREATEDB) and to create roles (CREATEROLE).

In [ ]:
-- Create an admin role
CREATE ROLE admin WITH CREATEDB CREATEROLE;

**GRANT privileges and ALTER attributes**<br>
Once roles are created, you grant them specific access control privileges on objects, like tables and views. Common privileges being SELECT, INSERT, UPDATE, etc.

Imagine you're a cofounder of that startup and you want all of your data scientists to be able to update and insert data in the long_reviews view. In this exercise, you will enable those soon-to-be-hired data scientists by granting their role (data_scientist) those privileges. Also, you'll give Marta's role a password.

**Instructions**<br>
- Grant the data_scientist role update and insert privileges on the long_reviews view.
- Alter Marta's role to give her the provided password.

In [ ]:
-- Grant data_scientist update and insert privileges
GRANT UPDATE, INSERT ON login_reviews TO data_scientist;

-- Give Marta's role a password
ALTER ROLE marta WITH PASSWORD 's3cur3p@ssw0rd';

**Add a user role to a group role**<br>
There are two types of roles: user roles and group roles. By assigning a user role to a group role, a database administrator can add complicated levels of access to their databases with one simple command.

For your startup, your search for data scientist hires is taking longer than expected. Fortunately, it turns out that Marta, your recent hire, has previous data science experience and she's willing to chip in the interim. In this exercise, you'll add Marta's user role to the data scientist group role. You'll then remove her after you complete your hiring process.

**Instructions**<br>
- Add Marta's user role to the data scientist group role.
- Celebrate! You hired multiple data scientists.
- Remove Marta's user role from the data scientist group role.

In [ ]:
-- Add Marta to the data scientist group
GRANT data_scientist TO marta;

-- Celebrate! You hired data scientists.

-- Remove Marta from the data scientist group
REVOKE data_scientist FROM marta;

## 4.2 Table partioning

### Why partition?
When tables grow (100 Gb/Tb) 
- **Problem:** queries/updates become slower.
- **Because:** e.g., indices don't fit memory.
- **Solution:** split table into smaller parts (= partitioning)
Partitioning is part of physical data model, we distribute the data over several physical entities.

### Vertical partitioning

As ou saw in the second chapter that to normalize a table, you can use foreign keys and create new tables. As, it can help to reduce redundant data.<br>
Vertical partitioning goes one step further and splits up a table vertically by its columns, wvwn whwn it's already fully normalized.

**Example**<br>
A table containing product data `name`, `short_description`, `price` and `long_description`. After vertical partitioning, you can end up with two tables: one for the first three columns, and another for the last column.<br>
We can link them through a shared key. Let's say the fourth column, containing a long description, is retreived very rarely. We could store the second table on a slower medium. Doing his would improve query time for the first table, as we need to scan less data for search queris.

### Horizontal partitioning
Instead of splitting tables up over the columns, you can also split up tables over the rows.<br>

**Example**<br>
Let's say you have a tables where every row is a book sale. You could decide to partition the table according to the timestamp.You could create partitions according to the timestamp, and partition them b quarter.<br>
Different SQL dialects have different ways of creating partitioned tables. We'll look at PostgreSQL, where you can use something called declarative partitioning since PSQL 10.<br>
`CREATE TABLE sales (`<br>
	...<br>
	`timestamp DATE NOT NULL`<br>
`)`<br>
`PARTITION BY RANGE (timestamp);`<br>
First, you add the `PARTITION BY ` clause to your table creation statement.<br>
You pass the column you want to partition by, `'timestamp'` in our case.<BR>
Finally, it's advised to add an index to column you used for partitioning.
`CREATE TABLE sales_2019_q1 PARTITION OF sales`<br>
	`FOR VALUES FROM ('2019-09-01') TO (2019-03-31);`<br>
...<br>
`CREATE TABLE sales_2019_q1 PARTITION OF sales`<br>
`FOR VALUES FROM ('2019-09-01') TO (2019-03-31);`<br>
`CREATE INDEX ON sales ('timestamp');`<br>
    
### Pros and cons of horizontal partitioning
**Pros**<br>
- Indices of heavily-used-partitions fit in memory
- Move to specific medium: slower vs faster
- Used for both OLAP and OLTP.
**Cons**<br>
- Partitioning existing table can be a hassle, have to create a new table and copy over the data.
- Can not set same type of constraints on a partitioned table. e.g., the `PRIMARY KEY` constarint.

### Relation to sharding
We can take partitioning one step further and distribute the partitions over several machines.<br>
Wehn horizontal partitioning is applied to spread a tabble over several machines, it's called sharding.<br>
You can see how this relates to massively parallel processing databases, where each node, or machine, can do calculations on specific shards.

**Creating vertical partitions**

In the video, you learned about vertical partitioning and saw an example.

For vertical partitioning, there is no specific syntax in PostgreSQL. You have to create a new table with particular columns and copy the data there. Afterward, you can drop the columns you want in the separate partition. If you need to access the full table, you can do so by using a JOIN clause.

In this exercise and the next one, you'll be working with the example database called pagila. It's a database that is often used to showcase PostgreSQL features. The database contains several tables. We'll be working with the film table. In this exercise, we'll use the following columns:

- `film_id`: the unique identifier of the film
- long_description: a lengthy description of the film

**Instructions**<br>
- Create a new table `film_descriptions` containing 2 fields: `film_id`, which is of type `INT`, and `long_description`, which is of type `TEXT`.
- Occupy the new table with values from the `film` table.

In [ ]:
-- Create a new table called film_descriptions
CREATE TABLE film_descriptions (
    film_id INT,
    long_description TEXT
);

-- Copy the descriptions from the film table
INSERT INTO film_descriptions
SELECT film_id, long_description FROM film;

**Instructions**<br>
- Drop the field `long_description` from the `film` table.
- Join the two resulting tables to view the original table.

In [ ]:
-- Create a new table called film_descriptions
CREATE TABLE film_descriptions (
    film_id INT,
    long_description TEXT
);

-- Copy the descriptions from the film table
INSERT INTO film_descriptions
SELECT film_id, long_description FROM film;
    
-- Drop the descriptions from the original table
ALTER TABLE film DROP COLUMN long_description;

-- Join to view the original table
SELECT * FROM film 
JOIN film_descriptions USING(film_id);

**Creating horizontal partitions**<br>
In the video, you also learned about horizontal partitioning.

The example of horizontal partitioning showed the syntax necessary to create horizontal partitions in PostgreSQL. If you need a reminder, you can have a look at the slides.

In this exercise, however, you'll be using a list partition instead of a range partition. For list partitions, you form partitions by checking whether the partition key is in a list of values or not.

To do this, we partition by LIST instead of RANGE. When creating the partitions, you should check if the values are IN a list of values.

We'll be using the following columns in this exercise:

- `film_id`: the unique identifier of the film
- `title`: the title of the film
- `release_year`: the year it's released

**Instructions**<br>
- Create the table `film_partitioned`, partitioned on the field `release_year`.

In [ ]:
-- Create a new table called film_partitioned
CREATE TABLE film_partitioned (
  film_id INT,
  title TEXT NOT NULL,
  release_year TEXT
)
PARTITION BY RANGE (release_year);

**Instructions**<br>
- Create three partitions: one for each release year: `2017`, `2018`, and `2019`. Call the partition for `2019` `film_2019`, etc.

In [ ]:
-- Create a new table called film_partitioned
CREATE TABLE film_partitioned (
  film_id INT,
  title TEXT NOT NULL,
  release_year TEXT
)
PARTITION BY LIST (release_year);

-- Create the partitions for 2019, 2018, and 2017
CREATE TABLE film_2019
	PARTITION OF film_partitioned FOR VALUES IN ('2019');
    
CREATE TABLE film_2018
	PARTITION OF film_partitioned FOR VALUES IN ('2018');
    
CREATE TABLE film_2017
	PARTITION OF film_partitioned FOR VALUES IN ('2017');

**Instructions**<br>
- Occupy the new table, `film_partitioned`, with the three fields required from the `film` table.

In [ ]:
-- Insert the data into film_partitioned
INSERT INTO film_partitioned
SELECT film_id, title, release_year FROM film;

-- View film_partitioned
SELECT * FROM film_partitioned;

## 4.3 Data Integration

### Data integration
What if your data is spread accross different databases, formats, schemas and technologies? That's where data integration comes into play.

Data integration combines darta from different sources, formats, technologies to provide users with a translated and unified view of that data.

#### Business case examples
- A company could want a 360 -degree customer view, to see all information departments have about a customer in a unified place.
- One company acquiring another, and need to combine their respective databases.
- Legacy systems are also a common case of data integration. An insurance company with claims in old and new systems, would need to integrate daa to query all claims at once.

There are few things to cinsider when integrating data.
- **Unified data model**
	- Unfied data model could be used to create dashboards, like graphs of daily sales, or data products, such as a recommendation engine. The final data model nedds to be fast enough for your use-case.
- **Data sources**
	- The necessary information is held in the data sources.
- **Data sources format**
	- In Which format is each data stored? It could be PostgreSQL, MongoDB or a csv.
- **Unifeid data model format**
	- Which format should the unified data model take? For example, Redshift, a data warehouse servise offered by AWS

#### Example: DataCamp
Say DataCamp is launching a skill assessment module. Marketing wants to know which customers to target. They need information from sales (stored in PostgreSQL), to see which customers can afford the new product. They also need information from product department (stored in MongoDB) to identify potential early adopters.<br>
**Update cadence**<br>
How often do you want to update the data? Updating daily would probably sufficient for sales data. For ascenario like air traffic, you want real time updates. Your data sources can have different update cadences.<br>

Now how to assemble the sources which are different formats.
### Transformations
Atransformation is a program that extracts content from the table and transform it into chosen format for the unified model. These transformations can be hand coded, but you have to make and maintain a transformation for each data source. You can alse use the data integration tool, which provides the needed ETL like, Apache Airflow or Scriptella.

### Choosing a data integration tool
- Flexible enough to connect to all of your data sources.
- Reliable, so it can maintained in a year.
- Scalable, anticipat an increase in data volume and sources.

#### Automated testing and proactive alerts
You should have automated testing and proactive alerts. If any data gets corrupted on its way to the unified data model, the system lets you know. For example, you should aggregate sales data after each transformation and ensure that the total amount remains the same.
#### Security
Security is also concern: if data access was originally restricted, it should remain restricted in the unified data model. For example, business analyst using the unified data model should not have access to the credit card numbers. You should anonymize the data during ETL so that analysts can only access the first four numbers, to identify the type of card being used.
#### Data governance
You need to conside lineage: for effective auditing, you should know where the data originated and where it is used at all times.

## 4.4 Picking a DBMS

### DBMS
- DBMS stands for DataBase Management System
- Create and maintain databases
    - Data
    - Database schema - Defines the database's logical structure
    - Database engine - Allows data to be accessed, locked and modified.
Essentially, the DBMS serves as an interface between the database and end users or application programs.

### DBMS types
- Choice of DBMS depends on database type
- Two types
    - SQL DBMS
    - NoSQL DBMS

### SQL DBMS
- Relational Database Management System (RDBMS)
- Based on the relational model of data
- Query language: SQL
- Some examples include SQL server, PostgreSQL and Oracle SQL
- Best option to use when:
    - Data is structured and unchanging
    - Data must be consistent without leaving room for error

### NoSQL DBMS
- Less structured
- Document-cenyered rather than table-centered
- Data doesn't have to fit into well-defined rows and columns
- Best option when:
    - Rapid growth
    - No clear schema definitions
    - Large quantities of data
- Types: key-value store, document store, columnar database, graph database

#### Key-value store
- Combinition of keys and values 
    - key: unique identifier
    - value: anything
- Use case: managing the shopping cart for an online buyer
- Example: Redis

#### Document store
- Similar to key-value
- Values (documents) are stored
- Use case: content management
- Example: MongoDB

#### Columnar database
- Store each column in a separate file 
- Scalable and faster faster at scale
- Use case: big data analytics where speed is important
- Example: Cassandra

#### Graph database
- Data is interconnected and best represented as graph
- Use case: social media data, recommendations
- Example: neo4j

The choice of the database dependa on the business need. If your application has a fixed structure and doesn't need frequent modifications, a SQL DBMS is preferable.<br>
Conversely, if you have applications where data is changing frequently and growing rapidly, like in big data analystics, NoSQL is the best option.